body {
  background-image: url(./Ocean.jpg);
  background-size: cover;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.smFishImg {
  width: 10rem;
  height: 10rem;
}


.smEnhanceImgs {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.transparentGrey {
  background-color: rgba(83, 83, 83, 0.678);
}

.no-select {
  user-select: none;
}